/* main.css */

/**
 * Add border-box
 * Add a border-box to every element to simplify setting width and height.
 *
 * Without a border-box all elements' width and height does not include margin
 * and padding, making calculations much tougher.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.5rem;  /* like em but sets font based on root element */
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
  --fs-xl: 4.5rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
  }

  /**
   * Visually hidden content
   * See inclusively-hidden by Scott Ohara
   *
   * Uses a few declarations to shrink an element to a 1px square, hide 
   * overflow, and position the element to not interrupt normal document flow.
   */
  .sr-only:not(:focus):not(:activate) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;   /* A decent default */
    background-image: url(../img/mars.jpg);    /* Add the background image URL here */
    background-size: cover;
    height: 100vh;      /* Usually sketchy but forces the previous day content */
    overflow: hidden;   /* off-screen */
    color: var(--clr-light);
}

h1, h2, h3 {
  line-height: 1;   /* 1.6 is way too large for a heading line height */
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
}

.section-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin: 0;
}

.mars-current-weather {
  background: rgba(0, 0, 0, .7);    /* The .7 is opacity */
  padding: 2em;
  max-width: 1000px;
  margin: 4em 0 0 4em;  /* top right bottom left*/
}
